  <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Your Trusted Bike/Scooter service provider</h1>
                <hr>
                <p><b>Professionally trained mechanics - Affordable - Genuine parts</b></p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

<section id="Services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Brands we service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 text-center">
                    <div class="service-box">
                        <img src="img\portfolio\thumbnails\bajaj-logo.jpg">
                      
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 text-center">
                    <div class="service-box">
                        <img src="img\portfolio\thumbnails\hero-logo.jpg">
                        
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 text-center">
                    <div class="service-box">
                        <img src="img\portfolio\thumbnails\tvs-logo.gif">
                        
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 text-center">
                    <div class="service-box">
                        <img src="img\portfolio\thumbnails\honda-logo.png">
                        
                     </div>
                </div>
                <div class="col-lg-2 col-md-6 text-center">
                    <div class="service-box">
                        <img src="img\portfolio\thumbnails\suzuki-logo.png">
                        
                     </div>
                </div>
                <div class="col-lg-2 col-md-6 text-center">
                    <div class="service-box">
                        <img src="img\portfolio\thumbnails\yamaha-logo.jpg">
                        
                     </div>
                </div>
            </div>
        </div>
    </section>

<section class="bg-primary" id="About">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us!</h2>
                    <hr class="primary">
                    <p>We are a startup focussed on 2-wheeler preventive maintenance.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond sr-icons"></i>
                        <h3>Trustworthy</h3>
                        <p class="text-hi" >Our Technicians are professionals or industry trained</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane sr-icons"></i>
                        <h3>Super Convenient</h3>
                        <p class="text-hi">We bring service to your doors so you don't need to hunt for trusted mechanics!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o  sr-icons"></i>
                        <h3>Affordable</h3>
                        <p class="text-hi">Our rates are competitive in the industry & affordable</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart sr-icons"></i>
                        <h3>Genuine</h3>
                        <p class="text-hi">Our spare parts are genuine/industry recognised!!</p>
                    </div>
                </div>
            </div>
            <div class="row text-center"><a href="#/home/4" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
            </div>
        </div>
       <!-- <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded">We are a startup focussed on 2-wheeler preventive maintenance.<br>
                        Email for appointments now!!</p>
                    
                </div>
            </div>
        </div> -->
    </section>

<section id="Pricing">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Pricing</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 text-center">
                    <div class="service-box">
                        <img src="img\portfolio\thumbnails\bajaj-logo.jpg">
                      
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 text-center">
                    <div class="service-box">
                        <img src="img\portfolio\thumbnails\hero-logo.jpg">
                        
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 text-center">
                    <div class="service-box">
                        <img src="img\portfolio\thumbnails\tvs-logo.gif">
                        
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 text-center">
                    <div class="service-box">
                        <img src="img\portfolio\thumbnails\honda-logo.png">
                        
                     </div>
                </div>
                <div class="col-lg-2 col-md-6 text-center">
                    <div class="service-box">
                        <img src="img\portfolio\thumbnails\suzuki-logo.png">
                        
                     </div>
                </div>
                <div class="col-lg-2 col-md-6 text-center">
                    <div class="service-box">
                        <img src="img\portfolio\thumbnails\yamaha-logo.jpg">
                        
                     </div>
                </div>
            </div>
        </div>
    </section>

<section class="bg-primary" id="Signup">
<div class="container" style='margin-top:90px;'>

    <div class="omb_login">
        <div style="text-align:center;">
            <h3 class="omb_authTitle"> Sign in</h3>
        </div>
		<div class="row omb_row-sm-offset-3 omb_socialButtons">
    	    <div class="col-xs-6 col-md-offset-3 col-md-3">
		        <a href="" class="btn btn-lg btn-block omb_btn-facebook" ng-click="fblogin()">
			        <i class="fa fa-facebook visible-xs"></i>
			        <span class="hidden-xs">Facebook</span>
		        </a>
	        </div>
        	
        	<div class="col-xs-6 col-md-3">
		       <!--<a href="/auth/google" class="btn btn-lg btn-block omb_btn-google" >
			         <i class="fa fa-google-plus visible-xs"></i>
			       <span class="hidden-xs">Google+</span>
                      <span class="g-signin"
                    data-scope="https://www.googleapis.com/auth/plus.login"
                    data-clientid="1094664898379-8u0muh9eme8nnvp95dafuc3rvigu4j9u.apps.googleusercontent.com"
                    data-redirecturi="postmessage"
                    data-accesstype="offline"
                    data-cookiepolicy="single_host_origin"
                    data-callback="signInCallback">Google+
                  </span>
		        </a>-->
                <a href="" class="btn btn-lg btn-block omb_btn-google" ng-click="glogin()">
			         <i class="fa fa-google-plus visible-xs"></i>
			       <span class="hidden-xs">Google+</span>
                </a>    
	        </div>	
            <!--<div id="result"></div>-->
		</div>
		<div class="row">
			<div style="text-align:center;" id="status">{{msg}}
            </div>
		
		</div>
	</div>

</section>

<section id="FAQ">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">FAQ</h2>
                    <hr class="hr" >
                    <p>
                        <b>1.How does Youbike work?</b><br>
                        <i>Step 1:</i> Customer books an appointment with us by email for service<br>
                        <i>Step 2: </i>Our technician will contact you to confirm the appointment<br>
                        <i>Step 3:</i> Technician will reach your residence and service the bike at your residence<br>
                        <i>Step 4:</i> Technician hands over the key back to you and collects the money<br>
                    </p>
                    <p>
                        <b>2.How will you water wash the bike?</b><br>
                        We will not be able to water wash the bike because we don’t have the infrastructure to clean the vehicle at your doorstep.<br>
                    </p>
                    <p>
                        <b>3.What is your USP?</b><br>
                        Our technicians are industry professionals or industry trained.We bring service to your home at your convenience.We use only genuine spares<br>
                    </p>
                    <p>
                        <b>4.What is your rate?</b><br>
                        Labor - &#x20B9;300 for scooters, &#x20B9;450 for bikes. The spares/consumables are extra. We charge consumables/spares on actuals so there’s no margin for us on spares.<br>
                    </p>
                    <p>
                        <b>5.What if I don’t want to change a spare?</b><br>
                        Our technician will not change the spare(eg- brake shoe,clutch cable) if you don’t want to, but will share the recommendations to you.<br>
                    </p>
                    <p>
                        <b>6.Are you open on all days?</b><br>
                        Since we are beginning operations we take appointments only on  weekends.<br>
                    </p>
                    <p>
                        <b>7.What brands do you service?</b><br>
                        Honda,Hero,TVS, Yamaha,Bajaj & Suzuki<br>
                    </p>
                     <p>
                        <b>8.What is NOT covered in your service?</b><br>
                        We are focussed only on preventive maintenance so we dont take up jobs that require to be done in workshops. eg:extensive body shop repair/damage jobs etc. We also do not provide water wash services at the moment<br>
                    </p>
                    <a href="#/home/4" class="page-scroll btn btn-primary btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>
    
<section class="bg-primary" id="Contact Us">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start working with us? That's great! Give us a call or send us an email for appointments and other queries!!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p class="text-hi">988-405-1340</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a class="text-hi" href="mailto:your-email@your-domain.com">youbikecs@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>


